

  .container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
   h2, h3{
    font-family: 'Comic Sans MS', sans-serif;
    color: white;
   
  }
  
  button {
    background-color: #ff0000;
    color: #ffffff;
    font-family: 'Comic Sans MS', sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  body {
    background-image: url('dragon-ball.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  