nav {
  background-color: gray; 
  padding: 10px;
  text-align: center;
}

h1 {
  font-family: 'Comic Sans MS', cursive; 
}

a {
  color: #fff; 
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  transition: color 0.3s ease; 
}

a:hover {
  color: #ff0000; 
}


.log-out-link {
  color: #ff0000; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.log-out-link:hover {
  color: #fff; 
}

