
.form-container {
  text-align: center;
  background: url('goku.png');
  padding: 20px;
  border: 2px solid #ff0000; 
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ff0000; 
  border-radius: 5px;
}

button {
  background-color: #ff0000; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}


