
body {

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Comic Sans MS', cursive; 
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: blue; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}


a {
  color: #ff0000; 
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease; 
}

a:hover {
  color: #fff; 
}

.content {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #ff0000; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #990000; 

}